/**
 * Disable selection
 **/
body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.statusbar-overlay {
    background:#606060;
}

.page-content {
    padding-top: 50px;
}

.page, body, .page-content {
    background-color: #131313;
}

img.preloader{
    position: absolute;
    top:-100px;
    left:-100px;
    width:1px;
    height: 1px;
}

.navbar {
    background:linear-gradient(#252525, #191919);
    color: #858585;
}
.navbar:after {
    background:none;
}

.loading-overlay {
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-image:url("../img/app/three-dots.svg"), linear-gradient(#252525, #191919);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    opacity: 1.0;
    transition-property: opacity, top;
    transition-duration: 0.7s;
}

.popup-overlay {
    z-index: 1000 !important;
}
.popup-list,
.popup-settings,
.popup-list .list-block ul,
.popup-settings .list-block ul,
.range-slider input[type=range]:after {
    background-color: #141414;
}
.popup-settings .content-block, .popup-list .content-block {
    margin-top:50px;
}

.popup-settings .label-switch .checkbox:before,
.range-slider input[type="range"]::-webkit-slider-thumb:before,
.popup-settings .label-switch .checkbox {
    background-color: #E74C3C;
}

.app-free .page-content {
    padding-bottom: 50px;
}
/*.popup-list .list-block .item-inner:after,
.popup-list .list-block ul:after,
.popup-list .list-block ul:before,*/
.popup-settings .list-block .item-inner:after,
.popup-settings .list-block ul:after,
.popup-settings .list-block ul:before {
    background-color: transparent;
}

.popup-settings .list-block .list-block-label {
    margin:5px 0 5px;
    font-size: 17px;
    color:#585858;
}

.popup-settings .item-input {
    text-align: right;
}

.popup-settings .item-title {
    color:#585858;
}

.morse-list-toolbar {
    width: 100%;
    height: 60px;
    position: absolute;
    left:0;
    bottom: -200px;
    background-color: rgba(26, 26, 26, 0.95);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    z-index: 9999;
    transition: bottom 0.5s;

}

.morse-list-toolbar .toolbar-button-text {
    padding-top: 2px;
    color:white;
    opacity:0.2;
}

.morse-list-toolbar .toolbar-button {
    flex:1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.morse-list-toolbar .toolbar-button.active > .toolbar-button-text {
    color:#E74C3C;
    opacity: 1;
}

.morse-list-toolbar .toolbar-button-icon {
    width:25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.morse-list .toolbar-button-icon {
    background-image: url("../img/save-off.png");
    opacity: 0.5;
}

.morse-list.toolbar-button.active > .toolbar-button-icon {
    background-image: url("../img/save-on.png");
    opacity: 1;
}

.morse-codes .toolbar-button-icon  {
    background-image: url("../img/list-off.png");
}

.morse-codes.toolbar-button.active > .toolbar-button-icon {
    background-image: url("../img/list-on.png");
}

.app-free .morse-list-toolbar {
    padding-bottom: 50px;
}

.ipad.app-free .morse-list-toolbar {
    padding-bottom: 128px;
}

.list-codes {
    display: none;
}

.codes-content {
    display: none;
}

.app-free .codes-content {
    padding-bottom: 50px;
}

.ipad.app-free .codes-content {
    padding-bottom: 128px;
}

.codes-liter {
    color:white;
    font-size: 20px;
    text-transform: uppercase;
}

.codes-code {
    text-align: left;
    width:80%;
    color:#E74C3C;
    font-size:40px;
    margin-top:-5px;
}


.icon {
    width:25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:25px !important;
    padding:10px;
}
.icon-settings {
    background-image: url("../img/settings.svg");
}

.icon-close {
    background-image: url("../img/close.png");
}

.icon-save {
    background-image: url("../img/save.png");
}

.icon-check {
    background-image: url("../img/check.svg");
}

.icon-list {
    background-image: url("../img/list-on.png");
    background-size: 25px !important;
}

.icon-plus {
    background-image: url("../img/plus-on.png");
    background-size: 27px !important;
}

.icon-sound-on {
    background-image: none;
}

.icon-sound-on:after {
    content: ' ';
    background-image: url("../img/sound-on.png");
    width:100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%;
    opacity: 0.7;
}

.icon-sound-off {
    background-image: url("../img/sound-off.png");
}

.icon-screen-off {
    background-image: url("../img/screen-off.png");
}

.icon-screen-on {
    background-image:none;
}

.icon-screen-on:after {
    content: ' ';
    background-image: url("../img/screen-on.png");
    width:100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100%;
    opacity: 0.7;
}

.icon-arrow-right {
    background-image:url("../img/arrow-right.png");
    background-size: 17px !important;
}

@media (min-height: 630px) and (min-width: 630px) {
    .popup:not(.tablet-fullscreen) {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 0;
    }
}

/* iPad portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {

    .ipad-none {
        display: none;
    }

    .morse-modal textarea {
        height: 300px !important;
    }

}

@media only screen
and (device-width : 320px)
and (device-height: 480px) {

    .compass-wrapper {
        height: 70px !important;
    }

    .information-wrapper {
        font-size: 20px !important;
    }

    .information-wrapper .info-title {
        font-size: 12px !important;
    }

    .morse-modal {
        margin-top:-25px;
    }

    .morse-modal textarea {
        height: 22px !important;
    }

}

.list-block .item-link.active-state, html:not(.watch-active-state) .list-block .item-link:active {
    background-color: transparent;
}
.codes-content .list-block {
    padding-bottom: 30px;
}
.popup-list .content-block {
    padding: 0;
}

.popup-list .list-block .item-content {
    padding-left: 0;
}

.popup-list .item-inner {
    padding-left: 15px;
}

.popup-list ul:after, .popup-list ul:before {
    display: none;
}

.morse-code {
    font-size: 70px;
    position: absolute;
    transition-property: transform;
    transition-duration: 1.5s;
    text-align:left;
    width:100000px;
    color: #a9a9a9;
    margin-top:-10px;
}

.morse-symbol {
    display: inline-block;
    /*background-color: #ffffff;*/
    padding: 0px;
    min-width: 5px;
    min-height: 5px;

    transition: color 1.0s, text-shadow 0.3s;
}

.morse-code-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.morse-protection-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.01)
}

.morse-code-first-wrapper {
    position: relative;
    height: 100px;
    margin-top:-30px;
    width:100%;
}

.morse-symbol-active {
    color: #ff9089;
    text-shadow: 1px 1px 4px rgba(255, 10, 0, 0.58), -1px -1px 4px rgba(255, 10, 0, 0.41), 0px 0px 10px #ff8670;
}

.compass-wrapper {
    width:100%;
    height: 120px;
    position: relative;
    margin-top:-5px;
}

.compass-bg {
    width:100%;
    height: 100%;
    background: url("../img/markers.svg");
    background-repeat: repeat-x;
    background-position: bottom left;
    background-position-x: 0px;
    transition-property: background-position-x;
    transition-duration: 0.5s;
    position: absolute;
}

.compass-mark {
    width:2px;
    height: 100%;
    background-color: #E74C3C;
    position: absolute;
    left:384px;
}

.compass-debug {
    color:white;
    text-align: center;
}

.information-wrapper {
    width:100%;
    color: #b7b7b7;
    font-size:30px;
    margin-top:10px;
}

.ipad .information-wrapper {
    margin-top:100px;
    margin-bottom: 100px;
    font-size:40px;
}

.ipad .info-bottom{
    margin-top: 100px;
}

.info-gps, .info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info-longitude, .info-latitude, .info-battery, .info-altimeter {
    flex: 1 1 100px;
}

.info-title {
    color: #2a2a2a;
    font-size: 18px;
    text-transform: uppercase;
}

.buttons-wrapper {
    margin-top:25px;
    width:100%;
    height:100px;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
}

.app-free .buttons-wrapper {
    margin-top:2px;
}

.button-item {
    width:46px;
    height: 46px;
    position: relative;
    background-size:cover;
    background-color: #202020;
    border-radius: 50%;
}

.ipad .button-item{
    width:80px !important;
    height: 80px !important;
}

.ipad .button-text {
    font-size: 18px !important;
}

.button-item.on {
    background-color: #591E18;
}

.button-text.on {
    opacity:1 !important;
}

.button-item.button-stroboscope{
    background-image: url("../img/btn_stroboscope.svg");
}

.button-item.button-stroboscope.on{
    background-image: url("../img/btn_stroboscope_on.svg");
}

.button-item.button-screen {
    background-image: url("../img/screen-off.png");
}

.button-item.button-screen.on {
    background-image: url("../img/screen-on.png");
}

.button-item.button-sos {
    background-image: url("../img/sos-off.png");
    background-size: 70%;
    background-position: center;
    background-position-y: 6px;
    background-repeat: no-repeat;
}

.button-item.button-sos.on {
    background-image: url("../img/sos-on.png");
}

.button-item.button-morse {
    background-image: url("../img/morse-off.png");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

.button-item.button-morse.on {
    background-image: url("../img/morse-on.png");
}

.button-item-wrapper .button-text {
    color:white;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.2;
    word-wrap: break-word;
    font-size: 12px;
    margin-top:3px;
}

.button-item.x .button-text{
    bottom: -37px;
}

.button-item.on > .button-text {
    opacity: 1;
}

.flashlight-wrapper {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.app-free .flashlight-wrapper {
    padding-bottom: 50px;
}

.ipad.app-free .flashlight-wrapper {
    padding-bottom: 128px;
}



.compass {
    position: absolute;
    width:150px;
    height: 150px;
    background-image:url("../img/compass_pointer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transition-property: transform;
    transition-duration: 0.5s;
}

.flashlight-button-wrapper {
    overflow: scroll;
    width:70px;
    height: 100px;
    border:1px solid black;
    border-radius: 20px;
}

.flashlight-button-outline {
    width: 114px;
    height: 114px;
    background-color: #591E18;
    background-image: radial-gradient(#591E18,#C12313);
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flashlight-button-inner {
    width:82px;
    height: 82px;
    background-color: #8C534D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
}

.flashlight-button-inner.on {
    background-color: #E74C3C;
}

.flashlight-button-wrapper::-webkit-scrollbar {
    height: 0;
    width:0;
}

.flashlight-button {
    height:200px;
    width:70px;
}

.flashlight-button-wrapper.active-state  .indicator{
    background-color: #fff141 !important;
}

.flashlight-button .green {
    width:70px;
    height: 100px;
    background: green;
    position: relative;
}

.flashlight-button .red {
    width:70px;
    height: 100px;
    background: #ffeb79;
}

.flashlight-button .indicator {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5f5f00;
    position: absolute;
    bottom: 0;
    left:25px;
}

.flashlight {
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-image:radial-gradient(circle, rgba(255, 250, 245, 0.59), rgba(230, 255, 123, 0)), radial-gradient(circle, #f9ff52, #fff200);
    box-shadow: 0px 0px 20px #ffff00;
    border:5px solid #908d34;
}

.flashlight.off{
    background-image:radial-gradient(circle, #85824d, #534d05);
    box-shadow: none;
    border:5px solid #979797;
}

.icon-save {
    background-color: red;
    width:20px;
    height:20px;
}

.playbutton {
    background-color:green;
    height: 50px;
}

.stop {
    background-color: #E74C3C;
}
.stop:after {
    content:'Off';
    text-transform: uppercase;
    color:white;
    position: absolute;
    top:26px;
    left:22px;

}

.lang-ru .stop:after{
    content:'Выкл';
    margin-left:-10px;
}

#play {
    position: relative;
}

#play:not(.stop):after {
    content: 'On';
}

.lang-ru #play:not(.stop):after {
    content: 'Вкл';
}
.slider2 {
    position: relative;
    height: 20px;
}
.slider2-wrapper {
    position: absolute;
    width:200px;
    height: 20px;
    background-color: red;
}

.slider2-button {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left:0;
    transition-property: left;
    transition-duration: 0.5s;
}

.list-block .item-title.label {
    width:190px;
}

.blur {
    filter:blur(5px);
    -webkit-filter:blur(5px);
}

.modal-custom {
    display: none;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:11000;
}

.modal-custom-close {
    width:40px;
    height: 40px;
    position: absolute;
    right:-20px;
    top:-20px;
    border:2px solid #242424;
    border-radius: 50%;
    background-color:#0B0B0B;
}

.modal-custom-close.icon {
    padding: 0px;
    background-size:20px !important;
}

.morse-wrapper{
    padding-top: 50px;
    width:80%;
    margin:0 auto;
}

.morse-modal {
    background-color: #0B0B0B;
    padding: 20px;
    box-shadow:0 0 10px rgba(109, 109, 109, 0.53);
    border-radius:10px;
    position: relative;
}

.morse-modal textarea {
    color:white;
    background-color:#0B0B0B;
    border:none;
    border-bottom: 2px solid #242424;
    border-radius:0;
    font-size:20px;
    font-weight: 200;
    font-family: 'Helvetica Neue';
    text-align: center;
    height: 50px;
    margin-top:20px;

    width: 100%;
}

.morse-modal .modal-bottom-buttons {
    position: absolute;
    bottom: -8px;
    margin-left:-20px;/* fix wrapper padding */
    height: 40px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-bottom-buttons .icon {
    padding: 0;
    background-size:30px !important;
}

.modal-bottom-button {
    width:60px;
    height: 60px;
    border:2px solid #242424;
    border-radius: 50%;
    background-color:#0B0B0B;
    margin-left:10px;
    margin-right: 10px;
    flex:0 0 auto;
}

.modal-bottom-button.save {
    opacity:1;
    transition: opacity 0.5s;
}

.bottom-buttons {
    margin-top:33px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-button {
    flex:0 0 auto;
    width:40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-left:10px;
    margin-right: 10px;
    background-size:100% !important;
    background-color:rgba(255,255,255,0.12);
    opacity: 1.0;
    transition:background-color 0.5s;
    position: relative;
}

.bottom-button.on {
    background-color: #591E18;
}

.button-on {
    width:100px;
    height: 100px;
    border:1px solid white;
    border-radius: 50%;
    background-color: rgba(127, 127, 127, 0.5);
    margin: 0 auto;
    margin-top:25px;
}

.morse-modal-title {
    text-align: center;
    font-size: 17px;
    color: #aeaeae;
    font-weight: 200;
    text-transform: uppercase;
}

.morse.flashlight-wrapper{
    position: absolute;
    left:0;
    bottom: 0;
}

.screen-flashlight{
    position: absolute;
    width:100%;
    height: 100%;
    background-color: #000000;
    top:0;
    left:0;
    z-index: 20000;
    display: none;
}

.screen-flashlight .close {
    position: absolute;
    margin-left:25px;
    margin-top:25px;
    width:30px;
    height: 30px;
    background-image: url("../img/close-beta.png");
    background-size: cover;

}

.screen-flashlight.white .close {
    background-image: url("../img/close-red.png");
}

.screen-flashlight .colors {
    position: absolute;
    right:0;
    margin-right: 25px;
    margin-top:25px;
}

.screen-flashlight .colors .color {
    width:32px;
    height: 32px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.screen-flashlight .colors .color.selected {
    border:2px solid white;
    width:30px;
    height: 30px;
}

.screen-flashlight .colors .color.white.selected {
    border-color:#E74C3C;
}

.red {
    background-color:#E74C3C;
}

.blue {
    background-color:#3498DB;
}

.green {
    background-color:#7ED321;
}

.white {
    background-color:#FFF;
}

.screen-off {
    background-color: black;
}

.screen-flashlight .display-brightness {
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    width:100%;
    display: flex;
    justify-content: center;
}


.app-free .screen-flashlight .display-brightness {
    padding-bottom: 50px;
}

.ipad.app-free .screen-flashlight .display-brightness {
    padding-bottom: 128px;
}


.screen-flashlight.red input::-webkit-slider-thumb:before,
.screen-flashlight.blue input::-webkit-slider-thumb:before,
.screen-flashlight.green input::-webkit-slider-thumb:before {
    background-color: #FFF;
}



.screen-flashlight.white input::-webkit-slider-thumb:before {
    background-color: #E74C3C;
}

.screen-flashlight .range-slider {
    width:80%;
}

.screen-flashlight.red .range-slider input[type=range]:after {
    background-color: #E74C3C !important;
}
.screen-flashlight.blue .range-slider input[type=range]:after {
    background-color: #3498DB !important;
}
.screen-flashlight.green .range-slider input[type=range]:after {
    background-color: #7ED321 !important;
}
.screen-flashlight.white .range-slider input[type=range]:after {
    background-color: #FFF !important;
}
.screen-flashlight.screen-off .range-slider input[type=range]:after {
    background-color: #000 !important;
}

.screen-flashlight .range-slider input[type=range]:after {
    background-color: #ffffff;
}


.popup-settings .content-block {
    margin-top:50px;
}

.screen-flashlight .range-slider input[type="range"]::-webkit-slider-thumb:before, {
    background-color: #3739e7 !important;
}

.brightness-icon {
    position: absolute;
    width:100%;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
}



.app-free .brightness-icon{
    padding-bottom: 50px;
}

.ipad.app-free .brightness-icon{
    padding-bottom: 128px;
}

.brightness-min,
.brightness-max{
    width:30px;
    height: 30px;
    margin-left:20px;
    background-image: url("../img/brightness-min.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.brightness-max {
    margin-right: 20px;
    margin-left: 0;
    background-image: url("../img/brightness-max.svg");
}

.screen-flashlight.white .brightness-min{
    background-image: url("../img/brightness-red-min.svg");
}

.screen-flashlight.white .brightness-max{
    background-image: url("../img/brightness-red-max.svg");
}