.statusbar-overlay {
    background:linear-gradient(#191919, #252525);
}
.page-content {
    padding-top: 50px;
}

.page, body, .page-content {
    background-color: #131313;
}

.navbar {
    background:linear-gradient(#252525, #191919);
    color: #858585;
}
.navbar:after {
    background:none;
}

.loading-overlay {
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    background-image:url("../img/app/three-dots.svg"), linear-gradient(#252525, #191919);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    opacity: 1.0;
    transition-property: opacity, top;
    transition-duration: 0.7s;
}

.popup-overlay {
    z-index: 1000 !important;
}
.popup-settings,
.popup-settings .list-block ul,
.range-slider input[type=range]:after {
    background-color: #141414;
}
.popup-settings .content-block {
    margin-top:50px;
}

.popup-settings .label-switch .checkbox:before,
.range-slider input[type="range"]::-webkit-slider-thumb:before,
.popup-settings .label-switch .checkbox {
    background-color: #E74C3C;
}

.app-free .page-content {
    padding-bottom: 50px;
}

.popup-settings .list-block .item-inner:after,
.popup-settings .list-block ul:after,
.popup-settings .list-block ul:before {
    background-color: transparent;
}

.popup-settings .list-block .list-block-label {
    margin:5px 0 5px;
    font-size: 17px;
    color:#585858;
}

.popup-settings .item-input {
    text-align: right;
}

.popup-settings .item-title {
    color:#585858;
}
.icon {
    width:25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:25px !important;
    padding:10px;
}
.icon-settings {
    background-image: url("../img/settings.svg");
}

.icon-close {
    background-image: url("../img/close.png");
}

.icon-save {
    background-image: url("../img/save.svg");
    background-size:100%;
}

.icon-check {
    background-image: url("../img/check.svg");
}

.icon-sound-on {
    background-image: url("../img/sound-on.svg");
}

.icon-screen-off {
    background-image: url("../img/screen_off.svg");
    opacity: 0.6;
}

@media (min-height: 630px) and (min-width: 630px) {
    .popup:not(.tablet-fullscreen) {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 0;
    }
}

/* iPad portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation: portrait) {

    .ipad-none {
        display: none;
    }

    /*ad banner place*/
    .app-free .page-content {
        padding-bottom: 128px !important;
    }

}


.morse-code {
    font-size: 70px;
    position: absolute;
    transition-property: transform;
    transition-duration: 1.5s;
    text-align:left;
    width:100000px;
    color: #a9a9a9;
    margin-top:-10px;
}

.morse-symbol {
    display: inline-block;
    /*background-color: #ffffff;*/
    padding: 5px;
    min-width: 5px;
    min-height: 5px;
    transition: color 1.0s, text-shadow 0.3s;
}

.morse-code-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

.morse-protection-overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.01)
}

.morse-code-first-wrapper {
    position: relative;
    height: 150px;
    width:100%;
}

.morse-symbol-active {
    color: #ff9089;
    text-shadow: 1px 1px 4px rgba(255, 10, 0, 0.58), -1px -1px 4px rgba(255, 10, 0, 0.41), 0px 0px 10px #ff8670;
}

.compass-wrapper {
    width:100%;
    height: 120px;
    position: relative;
}

.compass-bg {
    width:100%;
    height: 100%;
    background: url("../img/markers.svg");
    background-repeat: repeat-x;
    background-position: bottom left;
    background-position-x: 0px;
    transition-property: background-position-x;
    transition-duration: 0.5s;
    position: absolute;
}

.compass-mark {
    width:2px;
    height: 100%;
    background-color: #E74C3C;
    position: absolute;
    left:384px;
}

.compass-debug {
    color:white;
    text-align: center;
}

.information-wrapper {
    width:100%;
    color: #b7b7b7;
    font-size:30px;
}

.info-gps, .info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.info-longitude, .info-latitude, .info-battery, .info-altimeter {
    flex: 1 1 100px;
}

.info-title {
    color: #2a2a2a;
    font-size: 18px;
    text-transform: uppercase;
}

.buttons-wrapper {
    width:100%;
    height:100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.button-item {
    width:46px;
    height: 46px;
    position: relative;
}

.button-item.button-stroboscope{
    background-image: url("../img/btn_stroboscope.svg");
}

.button-item.button-stroboscope.on{
    background-image: url("../img/btn_stroboscope_on.svg");
}

.button-item .button-text {
    position: absolute;
    bottom: -20px;
    color:white;
    width:100%;
    text-align: center;
    text-transform: uppercase;
    opacity: 0.2;
    word-wrap: break-word;
    font-size: 12px;
}

.button-item.x .button-text{
    bottom: -37px;
}

.button-item.on > .button-text {
    opacity: 1;
}

.flashlight-wrapper {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.compass {
    position: absolute;
    width:150px;
    height: 150px;
    background-image:url("../img/compass_pointer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    transition-property: transform;
    transition-duration: 0.5s;
}

.flashlight-button-wrapper {
    overflow: scroll;
    width:70px;
    height: 100px;
    border:1px solid black;
    border-radius: 20px;
}

.flashlight-button-outline {
    width: 114px;
    height: 114px;
    background-color: #591E18;
    background-image: radial-gradient(#591E18,#C12313);
    border-radius: 50%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flashlight-button-inner {
    width:82px;
    height: 82px;
    background-color: #8C534D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: background-color 0.5s, color 0.5s;
}

.flashlight-button-inner.on {
    background-color: #E74C3C;
}

.flashlight-button-wrapper::-webkit-scrollbar {
    height: 0;
    width:0;
}

.flashlight-button {
    height:200px;
    width:70px;
}

.flashlight-button-wrapper.active-state  .indicator{
    background-color: #fff141 !important;
}

.flashlight-button .green {
    width:70px;
    height: 100px;
    background: green;
    position: relative;
}

.flashlight-button .red {
    width:70px;
    height: 100px;
    background: #ffeb79;
}

.flashlight-button .indicator {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: #5f5f00;
    position: absolute;
    bottom: 0;
    left:25px;
}

.flashlight {
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-image:radial-gradient(circle, rgba(255, 250, 245, 0.59), rgba(230, 255, 123, 0)), radial-gradient(circle, #f9ff52, #fff200);
    box-shadow: 0px 0px 20px #ffff00;
    border:5px solid #908d34;
}

.flashlight.off{
    background-image:radial-gradient(circle, #85824d, #534d05);
    box-shadow: none;
    border:5px solid #979797;
}

.icon-save {
    background-color: red;
    width:20px;
    height:20px;
}

.playbutton {
    background-color:green;
    height: 50px;
}

.stop {
    background-color: red;
}
.slider2 {
    position: relative;
    height: 20px;
}
.slider2-wrapper {
    position: absolute;
    width:200px;
    height: 20px;
    background-color: red;
}

.slider2-button {
    width:20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left:0;
    transition-property: left;
    transition-duration: 0.5s;
}

.list-block .item-title.label {
    width:170px;
}

.blur {
    filter:blur(5px);
    -webkit-filter:blur(5px);
}

.modal-custom {
    display: none;
    width:100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index:11000;
}

.modal-custom-close {
    width:40px;
    height: 40px;
    position: absolute;
    right:-20px;
    top:-20px;
    border:2px solid #242424;
    border-radius: 50%;
    background-color:#0B0B0B;
}

.modal-custom-close.icon {
    padding: 0px;
    background-size:20px !important;
}

.morse-wrapper{
    padding-top: 50px;
    width:80%;
    margin:0 auto;
}

.morse-modal {
    background-color: #0B0B0B;
    padding: 20px;
    box-shadow:0 0 10px rgba(109, 109, 109, 0.53);
    border-radius:10px;
    position: relative;
}

.morse-modal textarea {
    color:white;
    background-color:#0B0B0B;
    border:none;
    border-bottom: 2px solid #242424;
    border-radius:0;
    font-size:20px;
    font-weight: 100;
    font-family: 'Helvetica Neue';
    text-align: center;
    height: 50px;
    margin-top:20px;

    width: 100%;
}

.morse-modal .modal-bottom-buttons {
    position: absolute;
    bottom: -8px;
    margin-left:-20px;/* fix wrapper padding */
    height: 40px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-bottom-buttons .icon {
    padding: 0;
    background-size:30px !important;
}

.modal-bottom-button {
    width:60px;
    height: 60px;
    border:2px solid #242424;
    border-radius: 50%;
    background-color:#0B0B0B;
    margin-left:10px;
    margin-right: 10px;
    flex:0 0 auto;
}

.modal-bottom-button.save {
    opacity:1;
    transition: opacity 0.5s;
}

.bottom-buttons {
    margin-top:50px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom-button {
    flex:0 0 auto;
    width:40px !important;
    height: 40px !important;
    border-radius: 50%;
    margin-left:10px;
    margin-right: 10px;
    background-size:100% !important;
}

.button-on {
    width:100px;
    height: 100px;
    border:1px solid white;
    border-radius: 50%;
    background-color: rgba(127, 127, 127, 0.5);
    margin: 0 auto;
    margin-top:25px;
}

.morse-modal-title {
    text-align: center;
    font-size: 17px;
    color: #aeaeae;
    font-weight: 200;
    text-transform: uppercase;
}

